{% extends 'base.html.twig' %}

{% block title %}Lesson Create!{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/lesson_form.css') }}">
{% endblock %}

{% block content %}
    {% if is_granted('ROLE_ADMIN') %}
        <h2 class="h3 mb-3 font-weight-normal">{{ 'Создание нового урока:'}}</h2>

        {{ form_start(lesson_form) }}
        <input type="hidden" value="{{ course }}" name="course">
        {{ form_row(lesson_form.name, {'attr':
            {
                'placeholder': 'Название урока' ,
                'data-toggle': 'popover',
                'data-content': '3-5 symbols',
            } })
        }}
        {{ form_row(lesson_form.description, {'attr':
            {
                'placeholder': 'Описание урока (1-2 предложения)' ,
                'class': 'lesson_description_input',
                'data-toggle': 'popover',
                'data-content': 'Краткое описание урока. 1-2 предложения.',
            } })
        }}
        {{ form_row(lesson_form.video_link, {'attr':
            {
                'placeholder': 'Загрузите видео' ,
                'data-toggle': 'popover',
                'data-content': 'Видео к уроку',
            } })
        }}
        {{ form_row(lesson_form.submit) }}
        {{ form_end(lesson_form) }}
    {% else %}
        <h2>Доступ запрещен!</h2>
    {% endif %}
{% endblock %}
